.App {
}

.App::before {
  content: "";

  display: block;
  height: 12px;

  background: linear-gradient(
    to right,
    #f2c4d0 20%,
    #f2aec7 20% 40%,
    #77bbdd 40% 60%,
    #fcf0d5 60% 80%,
    #88cfc9 80%
  );
}
